<div class="form-group has-feedback">
  <select id={{selectComponentId}} class="select2-tag-bar" style="width: 100%" multiple="{{tagMode}}">
    {{#each initialOptions as |item|}}
      <option value="{{item}}" selected="{{tagMode}}">{{item}}</option>
    {{/each}}
  </select>
  <span class="fa fa-lg {{fontAwesomeIcon}} form-control-feedback input-select2-tag-bar" aria-hidden="true"></span>
</div>
