<div class="container">
  <div class="row">

    <!-- Date range picker -->
    <div class="col-md-3">
      <div class="form-group has-feedback">
        {{
        bootstrap-datepicker
        autoclose=false
        placeholder="From"
        class="form-control"
        clearBtn=true
        endDate=datePickerEndDate
        format="MM dd, yyyy"
        todayHighlight=true
        }}
        <span class="fa fa-lg fa-calendar form-control-feedback input-date-range-picker" aria-hidden="true"></span>
      </div>
    </div>

    <!-- Filter by tags -->
    <div class="col-md-6">
      {{
      notification-tags
      fontAwesomeIcon="fa-tags"
      placeholder="Filter by tags"
      tagmode=true
      allowClear=true
      }}
    </div>

    <!-- Saved filters -->
    <div class="col-md-3">
      {{
      notification-tags
      fontAwesomeIcon="fa-search"
      placeholder="Saved search filters"
      tagmode=false
      allowClear=true
      }}
    </div>

  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-heading" {{action "toggleSelectAllCheckbox" preventDefault=false}}>
          <div class="row">
            <div class="col-sm-1">
              {{input type="checkbox" class="pull-left notification-checkbox" checked=selectAll}}
            </div>
            <div class="col-sm-10">
              <p class="panel-heading-text">GitHub Notifications</p>
            </div>
          </div>
        </div>

        <div class="list-group">

          <ul class="list-group checked-list-box">
            {{#each model.thread as |item|}}
              {{
              notification-item
              threadmodel=item
              heading=item.githubThread.subjectTitle
              content=item.githubThread.githubThreadComment.body
              isCheckboxSelected=item.checked
              listData=item.tags
              triggerUndoNotification="triggerUndoNotification"
              }}
            {{else}}
              No notifications just yet.
            {{/each}}
          </ul>

        </div>
      </div>

    </div>
  </div>

</div>
